<footer>
    <a href="">Logo</a>
    <p>Todos los derechos reservados</p>
    <nav>
        <ul>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
        </ul>
    </nav>
</footer>