<header>
    <a href=""><img src="/desings/logo/mySpotLogo.PNG" alt="myspotlogo"></a>
    <form action="">
        <input type="text">
        <p>Barra de busqueda</p>
    </form>
    <nav>
        <ul>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
        </ul>
    </nav>
</header>